:root {
  --photoH: {{ .PhotoHeight  }};
  --photoW: {{ .PhotoWidth  }};
  --nameW: 30;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
    'Verdana Ref', sans-serif;
}

.container {
  height: calc(var(--photoH) * 1px);
  width: calc(var(--photoW) * 1px);
  background-image: url('{{ .PhotoURL  }}');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. logo . . .'
    '. quote-text quote-text quote-text .'
    '. . . name .';
}

.logo {
  grid-area: logo;
  color: rgba(255, 255, 255, 0.726);
}

.full {
  display: flex;
  flex-direction: column;
}

.sota {
  font-size: calc(calc(var(--photoW) / var(--nameW)) * 1px);
  letter-spacing: calc(calc(var(--photoW) / calc(var(--nameW) * 4)) * 1px);
}

.mini {
  font-size: calc(calc(var(--photoW) / calc(var(--nameW) * 2)) * 1px);
}

.quote-text {
  grid-area: quote-text;
  color: white;
  font-size: calc(calc(var(--photoW) / var(--nameW)) * 1px);
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.name {
  grid-area: name;
  color: white;
  font-size: calc(calc(var(--photoW) / var(--nameW)) * 1px);
  align-self: center;
}
